
* {
  /* outline: 1px dashed white; */
}

:root {
  --color-text: hsla(120, 73%, 47%, 1);
  --color-background: hsla(0, 0%, 0%, 1);
  --color-background-transparent: hsla(0, 0%, 0%, .25);
  --border-width: 1px;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: var(--color-text);
}

body {
  position: relative;
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 80dvh auto;
}

/* ===== HEADER ===== */

.header {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}

.logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  max-width: 50svh;
  mix-blend-mode: screen;
  /* animation: rotate 60s linear; */
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}


.logo .circle {
  border: 2px solid white;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  border-radius: 100%;
  z-index: -1;
}

.logo .stair {
  aspect-ratio: 1;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  border-top: 2px dashed white;
  border-right: 2px dashed white;
}

.stair:nth-child(01) { grid-column: 2; grid-row: 1; }
.stair:nth-child(02) { grid-column: 3; grid-row: 2; }
.stair:nth-child(03) { grid-column: 4; grid-row: 3; }
.stair:nth-child(04) { grid-column: 1; grid-row: 2; }
.stair:nth-child(05) { grid-column: 2; grid-row: 3; }
.stair:nth-child(06) { grid-column: 3; grid-row: 4; }

/* ===== MAIN ===== */

main {
  margin-top: 2rem;
  max-width: max-content;
  margin-inline: auto;
}

article {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content auto;
  border-style: dashed;
  position: relative;
  background-color: var(--color-background-transparent);
}

article + article {
  border-top-width: 1px;
}

article > * {
  padding: .5rem 1rem;
}

article .date {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-right-width: var(--border-width);
  border-style: dashed;
}

article .title {
  grid-column: 2 / 3;
  grid-row: 1;
  /* border-left-width: var(--border-width); */
}

article .content {
  grid-column: 2 / 3;
  grid-row: 2;
  max-width: 60ch;
  padding-top: 0;
  /* border-left-width: var(--border-width); */
}


@media (max-width:600px) {
  article .content {
    display: none;
  }
}

@media (max-width: 400px) {
  article .date {
    display: none;
  }
}

/* ===== CANVAS ===== */

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.outline {
  outline: 1px solid white;
}
