@use 'reset';
@use 'composables';

* { outline: 1px dashed green; }

body {
    position: relative;
    font-family: monospace;

    > header {
        padding: .5rem;
        border-bottom: 2px solid black;
    }
}

main {
    background-color: white;
    max-width: 80ch;
    margin-inline: auto;
    min-height: 100%;
    padding: 1rem;
}

blockquote {
    border-left: 2px solid black;
    padding-left: .75rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding-inline: 1rem;
    max-width: 800px;
    margin-inline: auto;
}

img {
    // border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

dialog {
    padding: 0;
    margin: auto;
    border: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    cursor: pointer;

    :focus {
        outline: none;
        border: none;
    }
}

::backdrop {
    background-color: black;
    opacity: 0.75;
}

.img-viewable {
    cursor: pointer;
}

.image-dialog {
    position: relative;
    width: min(80vh, 80vw);
    box-shadow: 0 0 10px 3px hsla(0, 55%, 69%, 0.5), 0 0 15px 5px hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    position: fixed;

    > img {
        width: 100%;
        height: auto;
    }
    
    > button {
        background-color: hsla(0, 0%, 0%, .5);
        position: absolute;
        top: .5rem;
        left: .5rem;
        color: white;
        padding: .25rem;
        border-radius: 10px;
    }
}

.main-posts {
    h1 {
        text-align: center;
    }
}


.section-posts {
    > * + * {
        margin-top: 2rem;
    }
}

.section-posts {
    > * {
        padding: 1rem;
    }
    > :nth-child(even) {
        border-top: 4px solid black;
        border-left: 4px solid black;
    }
    > :nth-child(odd) {
        border-top: 4px solid black;
        border-right: 4px solid black;
        padding-top: 1rem;
        padding-right: 1rem;
    }
}

.article-post {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: max-content;
    margin-inline: auto;
    
    > * {
        cursor: pointer;
    }
    
    img {
        width: 100%;
        height: auto;
        border: 4px solid black;
        max-width: 300px;
        height: auto;
    }

    .post-date {
        text-align: right;
        font-style: italic;
    }

    .post-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: .25rem;
    }
}